<template>
  <div class="container-fluid">
    <h2 class="center">Technical test</h2>
    <div class="mb-3">
      <router-link to="/game/">Game</router-link>
      <router-link to="/player/">Player</router-link>
      <router-link to="/team/">Team</router-link>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  data() {
    return {
    };
  },
};
</script>

<style>
</style>